{% extends 'base_layout2.html' %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
<style>
    p{
        font-size : 20px;
    }
    a{
        color: blue;
    }

</style>

<div class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <div class="hpanel hgreen">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a>
                        now.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}