{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="wrapper">
    <div class="content">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <legend>
                                <h4>Ajouter une Categorie</h4>
                            </legend>

                                {{ form | crispy }}

                            <button class="btn btn-lg btn-pocketmart-primary btn-block  pull-right" type="submit">Ajouter</button>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}